openapi: 3.0.0
info:
    title: Aura-Historia Backend API
    description: |
        REST API for the Aura-Historia backend.
        
        The backend is written in Rust and utilizes event-driven architecture with CQRS and Event-Sourcing,
        hosted entirely on AWS using services like API Gateway, OpenSearch, DynamoDB, SQS, and Lambda.
    version: 1.0.0
    contact:
        name: Aura-Historia Team
        url: https://github.com/aura-historia
    license:
        name: License
        url: https://github.com/aura-historia/backend/blob/develop/LICENSE

servers:
    - url: https://api.aura-historia.com
      description: Full Development-Server

paths:
    /api/v1/products/{shopId}/{shopsProductId}:
        get:
            summary: Get a single product
            description: |
                Retrieves a single product by its shop ID and shop's product ID.
                Returns localized content based on Accept-Language header and currency preferences.
                Optionally includes product history when requested.
                
                **Personalization**: When authenticated (via optional Authorization header), the response includes
                user-specific state such as whether the product is on the user's watchlist and notification preferences.
                Anonymous requests receive product data without user state.
            operationId: getProduct
            tags:
                - Products
            parameters:
                - name: shopId
                  in: path
                  required: true
                  description: Unique identifier of the shop
                  schema:
                      type: string
                      format: uuid
                      example: "550e8400-e29b-41d4-a716-446655440000"
                - name: shopsProductId
                  in: path
                  required: true
                  description: Shop's unique identifier for the product. Can be any arbitrary string.
                  schema:
                      type: string
                      example: "6ba7b810"
                - name: currency
                  in: query
                  required: false
                  description: Currency for price display
                  schema:
                      $ref: '#/components/schemas/CurrencyData'
                  example: EUR
                - name: history
                  in: query
                  required: false
                  description: Whether to include product history in the response
                  schema:
                      type: boolean
                      default: false
                  example: false
                - name: Accept-Language
                  in: header
                  required: false
                  description: |
                      Preferred language for localized content.
                      Supports quality values and multiple languages.
                      Supported languages: de, en, fr, es (with regional variants).
                  schema:
                      type: string
                      pattern: '^([a-z]{2}(-[A-Z]{2})?(;q=[0-9](\.[0-9])?)?)(,([a-z]{2}(-[A-Z]{2})?(;q=[0-9](\.[0-9])?)?)*)*$'
                  examples:
                      single:
                          value: "de"
                          description: "German"
                      multiple:
                          value: "en;q=0.9,de;q=0.8"
                          description: "English preferred, German as fallback"
                      regional:
                          value: "en-US"
                          description: "US English"
            security:
                - BearerAuth: []
                - {}
            responses:
                '200':
                    description: Product found and returned successfully
                    headers:
                        Content-Language:
                            description: The language of the returned content
                            schema:
                                $ref: '#/components/schemas/LanguageData'
                            example: "de"
                        ETag:
                            description: The event ID of the product for caching
                            schema:
                                type: string
                                format: uuid
                            example: "\"550e8400-e29b-41d4-a716-446655440001\""
                        Last-Modified:
                            description: When the product was last updated
                            schema:
                                type: string
                                format: http-date
                            example: "Wed, 01 Jan 2020 00:00:00 GMT"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PersonalizedGetProductData'
                            examples:
                                authenticated:
                                    summary: Authenticated user response with watchlist state
                                    value:
                                        item:
                                            productId: "550e8400-e29b-41d4-a716-446655440000"
                                            eventId: "550e8400-e29b-41d4-a716-446655440001"
                                            shopId: "550e8400-e29b-41d4-a716-446655440000"
                                            shopsProductId: "6ba7b810"
                                            shopName: "My Shop"
                                            title:
                                                text: "Amazing Product"
                                                language: "en"
                                            description:
                                                text: "This is an amazing product description"
                                                language: "en"
                                            price:
                                                currency: "EUR"
                                                amount: 2999
                                            state: "AVAILABLE"
                                            url: "https://my-shop.com/products/amazing-product"
                                            images:
                                                - "https://my-shop.com/images/product-1.jpg"
                                                - "https://my-shop.com/images/product-2.jpg"
                                            created: "2024-01-01T10:00:00Z"
                                            updated: "2024-01-01T12:00:00Z"
                                        userState:
                                            watchlist:
                                                watching: true
                                                notifications: true
                                anonymous:
                                    summary: Anonymous user response without user state
                                    value:
                                        item:
                                            productId: "550e8400-e29b-41d4-a716-446655440000"
                                            eventId: "550e8400-e29b-41d4-a716-446655440001"
                                            shopId: "550e8400-e29b-41d4-a716-446655440000"
                                            shopsProductId: "6ba7b810"
                                            shopName: "My Shop"
                                            title:
                                                text: "Amazing Product"
                                                language: "en"
                                            description:
                                                text: "This is an amazing product description"
                                                language: "en"
                                            price:
                                                currency: "EUR"
                                                amount: 2999
                                            state: "AVAILABLE"
                                            url: "https://my-shop.com/products/amazing-product"
                                            images:
                                                - "https://my-shop.com/images/product-1.jpg"
                                                - "https://my-shop.com/images/product-2.jpg"
                                            created: "2024-01-01T10:00:00Z"
                                            updated: "2024-01-01T12:00:00Z"
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_shop_id:
                                    summary: Missing shop ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PARAMETER"
                                        source:
                                            field: "shopId"
                                            sourceType: "path"
                                missing_shops_product_id:
                                    summary: Missing shop's product ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PARAMETER"
                                        source:
                                            field: "shopsProductId"
                                            sourceType: "path"
                                invalid_history:
                                    summary: Invalid history parameter
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "history"
                                            sourceType: "query"
                                        detail: "Expected any of: 'true' or 'false'. Got: 'invalid'"
                '404':
                    description: Product not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "PRODUCT_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/products/{shopId}/{shopsProductId}/similar:
        get:
            summary: Get similar products
            description: |
                Retrieves products similar to the specified product using semantic search based on text embeddings.
                Returns localized content based on Accept-Language header and currency preferences.
                
                **Personalization**: When authenticated (via optional Authorization header), the response includes
                user-specific state for each similar product (watchlist status, notifications).
                Anonymous requests receive product data without user state.
                
                **Asynchronous Processing**: If the product's text embedding has not yet been computed (typically for 
                products created less than 24 hours ago), the endpoint returns 202 Accepted with a Location header 
                to poll. The embedding generation runs nightly via batch processing.
            operationId: getSimilarProducts
            tags:
                - Products
            parameters:
                - name: shopId
                  in: path
                  required: true
                  description: Unique identifier of the shop
                  schema:
                      type: string
                      format: uuid
                      example: "550e8400-e29b-41d4-a716-446655440000"
                - name: shopsProductId
                  in: path
                  required: true
                  description: Shop's unique identifier for the product
                  schema:
                      type: string
                      example: "6ba7b810"
                - name: currency
                  in: query
                  required: false
                  description: Currency for price display
                  schema:
                      $ref: '#/components/schemas/CurrencyData'
                  example: EUR
                - name: Accept-Language
                  in: header
                  required: false
                  description: |
                      Preferred language for localized content.
                      Supports quality values and multiple languages.
                      Supported languages: de, en, fr, es (with regional variants).
                  schema:
                      type: string
                      pattern: '^([a-z]{2}(-[A-Z]{2})?(;q=[0-9](\.[0-9])?)?)(,([a-z]{2}(-[A-Z]{2})?(;q=[0-9](\.[0-9])?)?)*)*$'
                  examples:
                      single:
                          value: "de"
                          description: "German"
                      multiple:
                          value: "en;q=0.9,de;q=0.8"
                          description: "English preferred, German as fallback"
            security:
                - BearerAuth: []
                - {}
            responses:
                '200':
                    description: Similar products found and returned successfully
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    $ref: '#/components/schemas/PersonalizedGetProductData'
                                description: Array of similar products, each with optional user state
                            examples:
                                authenticated:
                                    summary: Authenticated user response with user state for each product
                                    value:
                                        - item:
                                              productId: "660e8400-e29b-41d4-a716-446655440001"
                                              eventId: "660e8400-e29b-41d4-a716-446655440011"
                                              shopId: "550e8400-e29b-41d4-a716-446655440000"
                                              shopsProductId: "6ba7b811"
                                              shopName: "My Shop"
                                              title:
                                                  text: "Similar Product"
                                                  language: "en"
                                              price:
                                                  currency: "EUR"
                                                  amount: 2899
                                              state: "AVAILABLE"
                                              url: "https://my-shop.com/products/similar-product"
                                              images:
                                                  - "https://my-shop.com/images/similar-1.jpg"
                                              created: "2024-01-01T10:00:00Z"
                                              updated: "2024-01-01T12:00:00Z"
                                          userState:
                                              watchlist:
                                                  watching: true
                                                  notifications: false
                                        - item:
                                              productId: "770e8400-e29b-41d4-a716-446655440002"
                                              eventId: "770e8400-e29b-41d4-a716-446655440012"
                                              shopId: "550e8400-e29b-41d4-a716-446655440000"
                                              shopsProductId: "6ba7b812"
                                              shopName: "My Shop"
                                              title:
                                                  text: "Another Similar Item"
                                                  language: "en"
                                              price:
                                                  currency: "EUR"
                                                  amount: 3199
                                              state: "AVAILABLE"
                                              url: "https://my-shop.com/products/another-item"
                                              images: []
                                              created: "2024-01-01T11:00:00Z"
                                              updated: "2024-01-01T13:00:00Z"
                                          userState:
                                              watchlist:
                                                  watching: false
                                                  notifications: false
                                anonymous:
                                    summary: Anonymous user response without user state
                                    value:
                                        - item:
                                              productId: "660e8400-e29b-41d4-a716-446655440001"
                                              eventId: "660e8400-e29b-41d4-a716-446655440011"
                                              shopId: "550e8400-e29b-41d4-a716-446655440000"
                                              shopsProductId: "6ba7b811"
                                              shopName: "My Shop"
                                              title:
                                                  text: "Similar Product"
                                                  language: "en"
                                              price:
                                                  currency: "EUR"
                                                  amount: 2899
                                              state: "AVAILABLE"
                                              url: "https://my-shop.com/products/similar-product"
                                              images:
                                                  - "https://my-shop.com/images/similar-1.jpg"
                                              created: "2024-01-01T10:00:00Z"
                                              updated: "2024-01-01T12:00:00Z"
                                empty:
                                    summary: No similar products found
                                    value: []
                '202':
                    description: |
                        Accepted - Product embedding not yet computed.
                        The text embedding for this product has not been generated yet (typically for products less than 24 hours old).
                        Embeddings are computed during nightly batch processing.
                        Poll the endpoint again later using the Location header.
                    headers:
                        Location:
                            description: URL to poll for similar products once embeddings are computed
                            schema:
                                type: string
                                format: uri
                            example: "https://api.aura-historia.com/api/v1/products/550e8400-e29b-41d4-a716-446655440000/6ba7b810/similar"
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_shop_id:
                                    summary: Missing shop ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "shopId"
                                            sourceType: "path"
                                missing_shops_product_id:
                                    summary: Missing shop's product ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "shopsProductId"
                                            sourceType: "path"
                                invalid_uuid:
                                    summary: Invalid UUID format for shop ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "INVALID_UUID"
                                        source:
                                            field: "shopId"
                                            sourceType: "path"
                '404':
                    description: Product not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "PRODUCT_NOT_FOUND"
                                detail: "Product with ShopId '550e8400-e29b-41d4-a716-446655440000' and ShopsProductId '6ba7b810' not found."
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/products:
        put:
            summary: Bulk create or update products
            description: |
                Creates or updates multiple products in a single batch request.
                This endpoint accepts a collection of product data and processes them asynchronously.
                
                **Shop Enrichment**: The shop information (shopId and shopName) is automatically 
                enriched based on the product's URL. The domain is extracted from the product URL 
                and must match a shop that is already registered in the system. If the shop is not 
                found, the product will fail with a SHOP_NOT_FOUND error. If the URL does not contain 
                a valid extractable domain, the product will fail with a NO_DOMAIN error.
                
                **Response Structure**:
                - `skipped`: Number of products that had no changes and were skipped
                - `unprocessed`: URLs of products that could not be processed due to temporary issues (can be retried)
                - `failed`: Map of product URLs to error codes for products that permanently failed processing
                
                Returns information about any products that could not be processed or failed during enrichment.
            operationId: putProducts
            tags:
                - Products
            requestBody:
                required: true
                description: Collection of products to create or update
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PutProductsCollectionData'
                        example:
                            items:
                                - shopsProductId: "6ba7b810"
                                  title:
                                      text: "Smartphone Case Premium"
                                      language: "en"
                                  description:
                                      text: "Premium quality smartphone case with wireless charging support"
                                      language: "en"
                                  price:
                                      currency: "EUR"
                                      amount: 2999
                                  state: "AVAILABLE"
                                  url: "https://tech-store.com/premium-case"
                                  images:
                                      - "https://tech-store.com/images/premium-case-1.jpg"
                                      - "https://tech-store.com/images/premium-case-2.jpg"
                                - shopsProductId: "7cb8c920-9dad-11d1-80b4-00c04fd430c9"
                                  title:
                                      text: "Basic Phone Case"
                                      language: "en"
                                  state: "LISTED"
                                  url: "https://tech-store.com/basic-case"
                                  images: [ ]
            responses:
                '200':
                    description: Products processed successfully
                    headers:
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PutProductsResponse'
                            examples:
                                all_processed:
                                    summary: All products processed successfully
                                    value:
                                        unprocessed:
                                        failed:
                                        skipped: 0
                                partial_processing_with_failures:
                                    summary: Some products failed with errors
                                    value:
                                        failed:
                                            "https://unknown-shop.com/item": "SHOP_NOT_FOUND"
                                            "https://tech-store.com/expensive-item": "MONETARY_AMOUNT_OVERFLOW"
                                            "https://localhost:8080/item": "NO_DOMAIN"
                                        skipped: 0
                                partial_processing_with_unprocessed:
                                    summary: Some products could not be processed (temporary issue)
                                    value:
                                        unprocessed:
                                            - "https://tech-store.com/item-1"
                                            - "https://tech-store.com/item-2"
                                        failed:
                                        skipped: 2
                '400':
                    description: Bad request - invalid request body
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_body:
                                    summary: Missing request body
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Body cannot be empty"
                                invalid_json:
                                    summary: Invalid JSON format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Invalid JSON format"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/products/search:
        post:
            summary: Complex product search
            description: |
                Performs an advanced search for products using a comprehensive search filter.
                This endpoint accepts a ProductSearchData object in the request body,
                allowing for complex filtering by multiple criteria simultaneously.
                Returns a paginated collection of products matching the search criteria.
                
                **Personalization**: When authenticated (via optional Authorization header), the response includes
                user-specific state for each product such as whether it's on the user's watchlist and notification preferences.
                Anonymous requests receive product data without user state.
            operationId: complexSearchProducts
            tags:
                - Products
            parameters:
                - name: sort
                  in: query
                  required: false
                  description: Field to sort results by
                  schema:
                      $ref: '#/components/schemas/SortProductFieldData'
                  example: price
                - name: order
                  in: query
                  required: false
                  description: Sort order (only valid when sort is specified)
                  schema:
                      type: string
                      enum: [ asc, desc ]
                  example: asc
                - name: searchAfter
                  in: query
                  required: false
                  description: |
                      Cursor value for pagination (search-after pattern).
                      This is a JSON value returned as `searchAfter` in the previous response.
                      Use this to fetch the next page of results.
                      In general you do not have to worry about determining this key. It's given with the `searchAfter` field in the preceding response if more entries are present.
                      This can be ANY heterogeneous array.
                  schema:
                      type: array
                      items: {}
                  example: "[2999, \"6ba7b810-9dad-11d1-80b4-00c04fd430c8\"]"
                - name: size
                  in: query
                  required: false
                  description: Number of products to return per page
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 21
                  example: 21
            security:
                - BearerAuth: []
                - {}
            requestBody:
                required: true
                description: |
                    Search filter configuration with all filtering criteria.
                    Unlike the simple text search, this allows filtering by multiple fields,
                    price ranges, product states, and date ranges.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ProductSearchData'
                        example:
                            language: "en"
                            currency: "USD"
                            productQuery: "smartphone case"
                            shopNameQuery: "Tech Store"
                            price:
                                min: 1000
                                max: 5000
                            state: [ "AVAILABLE" ]
                            created:
                                min: "2024-01-01T00:00:00Z"
                                max: "2024-12-31T23:59:59Z"
            responses:
                '200':
                    description: Complex search results returned successfully
                    headers:
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PersonalizedProductSearchResultData'
                            examples:
                                authenticated:
                                    summary: Authenticated user response with user state for each product
                                    value:
                                        items:
                                            - item:
                                                  productId: "550e8400-e29b-41d4-a716-446655440000"
                                                  eventId: "550e8400-e29b-41d4-a716-446655440001"
                                                  shopId: "550e8400-e29b-41d4-a716-446655440000"
                                                  shopsProductId: "6ba7b810"
                                                  shopName: "Tech Store"
                                                  title:
                                                      text: "Premium Smartphone Case"
                                                      language: "en"
                                                  price:
                                                      currency: "USD"
                                                      amount: 2999
                                                  state: "AVAILABLE"
                                                  url: "https://tech-store.com/premium-case"
                                                  images:
                                                      - "https://tech-store.com/images/premium-case-1.jpg"
                                                  created: "2024-01-15T10:00:00Z"
                                                  updated: "2024-01-15T12:00:00Z"
                                              userState:
                                                  watchlist:
                                                      watching: true
                                                      notifications: false
                                        size: 21
                                        total: 84
                                        searchAfter: "[2999, \"550e8400-e29b-41d4-a716-446655440000\"]"
                                anonymous:
                                    summary: Anonymous user response without user state
                                    value:
                                        items:
                                            - item:
                                                  productId: "550e8400-e29b-41d4-a716-446655440000"
                                                  eventId: "550e8400-e29b-41d4-a716-446655440001"
                                                  shopId: "550e8400-e29b-41d4-a716-446655440000"
                                                  shopsProductId: "6ba7b810"
                                                  shopName: "Tech Store"
                                                  title:
                                                      text: "Premium Smartphone Case"
                                                      language: "en"
                                                  price:
                                                      currency: "USD"
                                                      amount: 2999
                                                  state: "AVAILABLE"
                                                  url: "https://tech-store.com/premium-case"
                                                  images:
                                                      - "https://tech-store.com/images/premium-case-1.jpg"
                                                  created: "2024-01-15T10:00:00Z"
                                                  updated: "2024-01-15T12:00:00Z"
                                        size: 21
                                        total: 84
                                        searchAfter: "[2999, \"550e8400-e29b-41d4-a716-446655440000\"]"
                '400':
                    description: Bad request - invalid parameters or body
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_body:
                                    summary: Missing request body
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Body cannot be empty"
                                invalid_json:
                                    summary: Invalid JSON format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Invalid JSON format"
                                invalid_product_query:
                                    summary: Invalid product query length
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "productQuery must be at least 3 characters long"
                                invalid_sort_field:
                                    summary: Invalid sort field
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "sort"
                                            sourceType: "query"
                                        detail: "Expected any of: 'score', 'price', 'updated', 'created'. Got: 'invalid'"
                                invalid_order:
                                    summary: Invalid sort order
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "order"
                                            sourceType: "query"
                                        detail: "Expected any of: 'asc' or 'desc'. Got: 'invalid'"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/me/search-filters:
        get:
            summary: List user search filters
            description: |
                Retrieves all search filters for the authenticated user.
                Results can be optionally sorted by creation date.
                Requires valid Cognito JWT authentication.
            operationId: getUserSearchFilters
            tags:
                - Search Filters
            parameters:
                - name: sort
                  in: query
                  required: false
                  description: Field to sort results by
                  schema:
                      $ref: '#/components/schemas/SortUserSearchFilterFieldData'
                  example: created
                - name: order
                  in: query
                  required: false
                  description: Sort order (only valid when sort is specified)
                  schema:
                      type: string
                      enum: [ asc, desc ]
                      default: asc
                  example: desc
            security:
                - BearerAuth: []
            responses:
                '200':
                    description: Search filters retrieved successfully
                    headers:
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UserSearchFilterCollectionData'
                            example:
                                items:
                                    - userId: "550e8400-e29b-41d4-a716-446655440000"
                                      userSearchFilterId: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                                      name: "My Tech Store Search"
                                      productSearch:
                                          language: "en"
                                          currency: "USD"
                                          productQuery: "smartphone"
                                          shopNameQuery: "Tech Store"
                                          price:
                                              min: 1000
                                              max: 5000
                                          state: [ "AVAILABLE" ]
                                      created: "2024-01-01T10:00:00Z"
                                      updated: "2024-01-01T12:00:00Z"
                                from: 0
                                size: 1
                                total: 1
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                invalid_sort_field:
                                    summary: Invalid sort field
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "sort"
                                            sourceType: "query"
                                        detail: "Expected any of: 'created'. Got: 'invalid'"
                                invalid_order:
                                    summary: Invalid sort order
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "order"
                                            sourceType: "query"
                                        detail: "Expected any of: 'asc' or 'desc'. Got: 'invalid'"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"
        post:
            summary: Create a new search filter
            description: |
                Creates a new search filter for the authenticated user.
                The search filter configuration is provided in the request body.
                Returns the created search filter with generated ID and metadata.
                Requires valid Cognito JWT authentication.
            operationId: createUserSearchFilter
            tags:
                - Search Filters
            security:
                - BearerAuth: []
            requestBody:
                required: true
                description: Search filter configuration with name and filter criteria
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PostUserSearchFilterData'
                        example:
                            name: "My Tech Store Search"
                            productSearch:
                                language: "en"
                                currency: "USD"
                                productQuery: "smartphone"
                                shopNameQuery: "Tech Store"
                                price:
                                    min: 1000
                                    max: 5000
                                state: [ "AVAILABLE" ]
                                created:
                                    min: "2024-01-01T00:00:00Z"
                                    max: "2024-12-31T23:59:59Z"
            responses:
                '201':
                    description: Search filter created successfully
                    headers:
                        Location:
                            description: URL of the created search filter
                            schema:
                                type: string
                                format: uri
                            example: "https://api.aura-historia.com/api/v1/me/search-filters/6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                        Content-Language:
                            description: The language of the returned content
                            schema:
                                $ref: '#/components/schemas/LanguageData'
                            example: "en"
                        Last-Modified:
                            description: When the search filter was created/updated
                            schema:
                                type: string
                                format: http-date
                            example: "Wed, 01 Jan 2024 12:00:00 GMT"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UserSearchFilterData'
                            example:
                                userId: "550e8400-e29b-41d4-a716-446655440000"
                                userSearchFilterId: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                                name: "My Tech Store Search"
                                productSearch:
                                    language: "en"
                                    currency: "USD"
                                    productQuery: "smartphone"
                                    shopNameQuery: "Tech Store"
                                    price:
                                        min: 1000
                                        max: 5000
                                    state: [ "AVAILABLE" ]
                                created: "2024-01-01T12:00:00Z"
                                updated: "2024-01-01T12:00:00Z"
                '400':
                    description: Bad request - invalid request body
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_body:
                                    summary: Missing request body
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Body cannot be empty"
                                invalid_json:
                                    summary: Invalid JSON format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Invalid JSON format"
                                invalid_product_query:
                                    summary: Invalid product query
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "productQuery must be at least 3 characters long"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/me/search-filters/{userSearchFilterId}:
        get:
            summary: Get a specific search filter
            description: |
                Retrieves a specific search filter by its ID for the authenticated user.
                Returns the complete search filter configuration and metadata.
                Requires valid Cognito JWT authentication.
            operationId: getUserSearchFilter
            tags:
                - Search Filters
            parameters:
                - name: userSearchFilterId
                  in: path
                  required: true
                  description: Unique identifier of the search filter
                  schema:
                      type: string
                      format: uuid
                  example: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            security:
                - BearerAuth: []
            responses:
                '200':
                    description: Search filter found and returned successfully
                    headers:
                        Content-Language:
                            description: The language of the returned content
                            schema:
                                $ref: '#/components/schemas/LanguageData'
                            example: "en"
                        Last-Modified:
                            description: When the search filter was last updated
                            schema:
                                type: string
                                format: http-date
                            example: "Wed, 01 Jan 2024 12:00:00 GMT"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UserSearchFilterData'
                            example:
                                userId: "550e8400-e29b-41d4-a716-446655440000"
                                userSearchFilterId: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                                name: "My Tech Store Search"
                                productSearch:
                                    language: "en"
                                    currency: "USD"
                                    productQuery: "smartphone"
                                    shopNameQuery: "Tech Store"
                                    price:
                                        min: 1000
                                        max: 5000
                                    state: [ "AVAILABLE" ]
                                created: "2024-01-01T10:00:00Z"
                                updated: "2024-01-01T12:00:00Z"
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_search_filter_id:
                                    summary: Missing search filter ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "userSearchFilterId"
                                            sourceType: "path"
                                invalid_uuid:
                                    summary: Invalid search filter ID format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "INVALID_UUID"
                                        source:
                                            field: "userSearchFilterId"
                                            sourceType: "path"
                                        detail: "Invalid UUID format"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '404':
                    description: Search filter not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "SEARCH_FILTER_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"
        delete:
            summary: Delete a search filter
            description: |
                Deletes a specific search filter by its ID for the authenticated user.
                The search filter must exist and belong to the authenticated user.
                Requires valid Cognito JWT authentication.
            operationId: deleteUserSearchFilter
            tags:
                - Search Filters
            parameters:
                - name: userSearchFilterId
                  in: path
                  required: true
                  description: Unique identifier of the search filter to delete
                  schema:
                      type: string
                      format: uuid
                  example: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            security:
                - BearerAuth: []
            responses:
                '204':
                    description: Search filter deleted successfully
                    headers:
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_search_filter_id:
                                    summary: Missing search filter ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "userSearchFilterId"
                                            sourceType: "path"
                                invalid_uuid:
                                    summary: Invalid search filter ID format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "INVALID_UUID"
                                        source:
                                            field: "userSearchFilterId"
                                            sourceType: "path"
                                        detail: "Invalid UUID format"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '404':
                    description: Search filter not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "SEARCH_FILTER_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"
        patch:
            summary: Update a search filter
            description: |
                Updates a specific search filter by its ID for the authenticated user.
                Allows partial updates - only provided fields will be modified.
                If no fields are provided in the request body, returns the existing search filter unchanged.
                Requires valid Cognito JWT authentication.
            operationId: updateUserSearchFilter
            tags:
                - Search Filters
            parameters:
                - name: userSearchFilterId
                  in: path
                  required: true
                  description: Unique identifier of the search filter to update
                  schema:
                      type: string
                      format: uuid
                  example: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            security:
                - BearerAuth: []
            requestBody:
                required: false
                description: |
                    Partial search filter update data.
                    Only provided fields will be updated. If body is empty, returns existing filter.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PatchUserSearchFilterData'
                        examples:
                            partial_update:
                                summary: Update specific fields
                                value:
                                    name: "Updated Filter Name"
                                    productSearch:
                                        shopNameQuery: "Updated Store"
                                        price:
                                            min: 2000
                                            max: 8000
                            update_name_only:
                                summary: Update only the name
                                value:
                                    name: "New Filter Name"
                            update_filter_only:
                                summary: Update only the filter criteria
                                value:
                                    productSearch:
                                        language: "de"
                                        currency: "EUR"
                            empty_update:
                                summary: No changes (returns existing filter)
                                value: { }
            responses:
                '200':
                    description: Search filter updated successfully
                    headers:
                        Content-Language:
                            description: The language of the returned content
                            schema:
                                $ref: '#/components/schemas/LanguageData'
                            example: "en"
                        Last-Modified:
                            description: When the search filter was last updated
                            schema:
                                type: string
                                format: http-date
                            example: "Wed, 01 Jan 2024 12:30:00 GMT"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/UserSearchFilterData'
                            example:
                                userId: "550e8400-e29b-41d4-a716-446655440000"
                                userSearchFilterId: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                                name: "Updated Filter Name"
                                productSearch:
                                    language: "en"
                                    currency: "USD"
                                    productQuery: "smartphone"
                                    shopNameQuery: "Updated Store"
                                    price:
                                        min: 2000
                                        max: 8000
                                    state: [ "AVAILABLE" ]
                                created: "2024-01-01T10:00:00Z"
                                updated: "2024-01-01T12:30:00Z"
                '400':
                    description: Bad request - invalid parameters or body
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_search_filter_id:
                                    summary: Missing search filter ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "userSearchFilterId"
                                            sourceType: "path"
                                invalid_uuid:
                                    summary: Invalid search filter ID format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "INVALID_UUID"
                                        source:
                                            field: "userSearchFilterId"
                                            sourceType: "path"
                                        detail: "Invalid UUID format"
                                invalid_json:
                                    summary: Invalid JSON format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Invalid JSON format"
                                invalid_product_query:
                                    summary: Invalid product query length
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "productQuery must be at least 3 characters long"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '404':
                    description: Search filter not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "SEARCH_FILTER_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/me/watchlist:
        get:
            summary: List user's watchlist products
            description: |
                Retrieves all products in the authenticated user's watchlist.
                Results are paginated using search-after cursor-based pagination with timestamp.
                Requires valid Cognito JWT authentication.
            operationId: getWatchlistProducts
            tags:
                - Watchlist
            parameters:
                - name: currency
                  in: query
                  required: false
                  description: Currency for price display
                  schema:
                      $ref: '#/components/schemas/CurrencyData'
                  example: EUR
                - name: sort
                  in: query
                  required: false
                  description: Field to sort results by
                  schema:
                      $ref: '#/components/schemas/SortWatchlistProductFieldData'
                  example: created
                - name: order
                  in: query
                  required: false
                  description: Sort order (only valid when sort is specified)
                  schema:
                      type: string
                      enum: [ asc, desc ]
                  example: desc
                - name: searchAfter
                  in: query
                  required: false
                  description: |
                      RFC3339 timestamp for cursor-based pagination (search-after).
                      Depending on sort-order, returns watchlist-products created, either after this timestamp for asc (oldest first) or before this timestamp for desc (latest first).
                      In general you do not have to worry about determining this key. It's given with `searchAfter` in the preceding response if more entries are present.
                  schema:
                      type: string
                      format: date-time
                  example: "2024-01-01T10:00:00Z"
                - name: size
                  in: query
                  required: false
                  description: Number of products to return per page
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 100
                      default: 21
                  example: 21
                - name: Accept-Language
                  in: header
                  required: false
                  description: |
                      Preferred language for localized content.
                      Supports quality values and multiple languages.
                      Supported languages: de, en, fr, es (with regional variants).
                  schema:
                      type: string
                      pattern: '^([a-z]{2}(-[A-Z]{2})?(;q=[0-9](\.[0-9])?)?)(,([a-z]{2}(-[A-Z]{2})?(;q=[0-9](\.[0-9])?)?)*)*$'
                  examples:
                      single:
                          value: "de"
                          description: "German"
                      multiple:
                          value: "en;q=0.9,de;q=0.8"
                          description: "English preferred, German as fallback"
                      regional:
                          value: "en-US"
                          description: "US English"
            security:
                - BearerAuth: []
            responses:
                '200':
                    description: Watchlist products retrieved successfully
                    headers:
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WatchlistCollectionData'
                            example:
                                items:
                                    - item:
                                          productId: "550e8400-e29b-41d4-a716-446655440000"
                                          eventId: "550e8400-e29b-41d4-a716-446655440001"
                                          shopId: "550e8400-e29b-41d4-a716-446655440000"
                                          shopsProductId: "6ba7b810"
                                          shopName: "Tech Store"
                                          title:
                                              text: "Smartphone Case"
                                              language: "en"
                                          price:
                                              currency: "EUR"
                                              amount: 2999
                                          state: "AVAILABLE"
                                          url: "https://tech-store.com/smartphone-case"
                                          images:
                                              - "https://tech-store.com/images/case-1.jpg"
                                          created: "2024-01-01T10:00:00Z"
                                          updated: "2024-01-01T12:00:00Z"
                                      created: "2024-01-15T08:00:00Z"
                                size: 21
                                searchAfter: "2024-01-15T08:00:00Z"
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                invalid_sort_field:
                                    summary: Invalid sort field
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "sort"
                                            sourceType: "query"
                                        detail: "Expected any of: 'created'. Got: 'invalid'"
                                invalid_order:
                                    summary: Invalid sort order
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_QUERY_PARAMETER_VALUE"
                                        source:
                                            field: "order"
                                            sourceType: "query"
                                        detail: "Expected any of: 'asc' or 'desc'. Got: 'invalid'"
                                invalid_from_timestamp:
                                    summary: Invalid from timestamp
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "INVALID_RFC3339_TIMESTAMP"
                                        source:
                                            field: "from"
                                            sourceType: "query"
                                        detail: "Invalid RFC3339 timestamp format"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"
        post:
            summary: Add product to watchlist
            description: |
                Adds an product to the authenticated user's watchlist.
                The request body must contain the shop ID and shop's product ID.
                Returns a 201 Created response with a Location header pointing to the created resource.
                Requires valid Cognito JWT authentication.
            operationId: addWatchlistProduct
            tags:
                - Watchlist
            security:
                - BearerAuth: []
            requestBody:
                required: true
                description: Product identifier to add to watchlist
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/ProductKeyData'
                        example:
                            shopId: "550e8400-e29b-41d4-a716-446655440000"
                            shopsProductId: "6ba7b810"
            responses:
                '201':
                    description: Product added to watchlist successfully
                    headers:
                        Location:
                            description: URL of the added watchlist product
                            schema:
                                type: string
                                format: uri
                            example: "https://api.aura-historia.com/api/v1/me/watchlist/550e8400-e29b-41d4-a716-446655440000/6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/WatchlistProductPatchResponse'
                            example:
                                shopId: "550e8400-e29b-41d4-a716-446655440000"
                                shopsProductId: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
                                productId: "7c9e6679-7425-40de-944b-e07fc1f90ae7"
                                notifications: false
                                created: "2024-01-15T08:00:00Z"
                                updated: "2024-01-15T08:00:00Z"
                '400':
                    description: Bad request - invalid request body
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_body:
                                    summary: Missing request body
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Body cannot be empty"
                                invalid_json:
                                    summary: Invalid JSON format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Invalid JSON format"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/me/account:
        get:
            summary: Get user account data
            description: |
                Retrieves the authenticated user's account information including email, name, language, and currency preferences.
                Requires valid Cognito JWT authentication.
            operationId: getUserAccount
            tags:
                - User Account
            security:
                - BearerAuth: []
            responses:
                '200':
                    description: User account data retrieved successfully
                    headers:
                        Last-Modified:
                            description: When the user account was last updated
                            schema:
                                type: string
                                format: http-date
                            example: "Wed, 01 Jan 2024 12:00:00 GMT"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserAccountData'
                            example:
                                userId: "550e8400-e29b-41d4-a716-446655440000"
                                email: "user@example.com"
                                firstName: "John"
                                lastName: "Doe"
                                language: "en"
                                currency: "EUR"
                                created: "2024-01-01T10:00:00Z"
                                updated: "2024-01-01T12:00:00Z"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '404':
                    description: User not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "USER_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"
        patch:
            summary: Update user account data
            description: |
                Updates the authenticated user's account information.
                All fields in the request body are optional - only provided fields will be updated.
                Returns the updated user account data.
                Requires valid Cognito JWT authentication.
            operationId: updateUserAccount
            tags:
                - User Account
            security:
                - BearerAuth: []
            requestBody:
                required: true
                description: |
                    Partial user account update data.
                    All fields are optional - only provided fields will be updated.
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PatchUserAccountData'
                        examples:
                            update_all:
                                summary: Update all fields
                                value:
                                    firstName: "Jane"
                                    lastName: "Smith"
                                    language: "de"
                                    currency: "USD"
                            update_name_only:
                                summary: Update name only
                                value:
                                    firstName: "Jane"
                                    lastName: "Smith"
                            update_preferences_only:
                                summary: Update language and currency only
                                value:
                                    language: "fr"
                                    currency: "GBP"
            responses:
                '200':
                    description: User account updated successfully
                    headers:
                        Last-Modified:
                            description: When the user account was last updated
                            schema:
                                type: string
                                format: http-date
                            example: "Wed, 01 Jan 2024 12:30:00 GMT"
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/GetUserAccountData'
                            example:
                                userId: "550e8400-e29b-41d4-a716-446655440000"
                                email: "jane.smith@example.com"
                                firstName: "Jane"
                                lastName: "Smith"
                                language: "de"
                                currency: "USD"
                                created: "2024-01-01T10:00:00Z"
                                updated: "2024-01-01T12:30:00Z"
                '400':
                    description: Bad request - invalid request body
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_body:
                                    summary: Missing request body
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Body cannot be empty"
                                invalid_json:
                                    summary: Invalid JSON format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_BODY_VALUE"
                                        detail: "Invalid JSON format"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '404':
                    description: User not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "USER_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

    /api/v1/me/watchlist/{shopId}/{shopsProductId}:
        delete:
            summary: Remove product from watchlist
            description: |
                Removes a specific product from the authenticated user's watchlist.
                Returns a 204 No Content response on success.
                Requires valid Cognito JWT authentication.
            operationId: deleteWatchlistProduct
            tags:
                - Watchlist
            parameters:
                - name: shopId
                  in: path
                  required: true
                  description: Unique identifier of the shop
                  schema:
                      type: string
                      format: uuid
                  example: "550e8400-e29b-41d4-a716-446655440000"
                - name: shopsProductId
                  in: path
                  required: true
                  description: Shop's unique identifier for the product
                  schema:
                      type: string
                  example: "6ba7b810-9dad-11d1-80b4-00c04fd430c8"
            security:
                - BearerAuth: []
            responses:
                '204':
                    description: Product removed from watchlist successfully
                    headers:
                        Access-Control-Allow-Origin:
                            description: CORS header
                            schema:
                                type: string
                            example: "*"
                '400':
                    description: Bad request - invalid parameters
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            examples:
                                missing_shop_id:
                                    summary: Missing shop ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "shopId"
                                            sourceType: "path"
                                missing_shops_product_id:
                                    summary: Missing shop's product ID
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "BAD_PATH_PARAMETER_VALUE"
                                        source:
                                            field: "shopsProductId"
                                            sourceType: "path"
                                invalid_uuid:
                                    summary: Invalid shop ID format
                                    value:
                                        status: 400
                                        title: "Bad Request"
                                        error: "INVALID_UUID"
                                        source:
                                            field: "shopId"
                                            sourceType: "path"
                                        detail: "Invalid UUID format"
                '401':
                    description: Unauthorized - invalid or missing JWT token
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 401
                                title: "Unauthorized"
                                error: "UNAUTHORIZED"
                '404':
                    description: Watchlist entry not found
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 404
                                title: "Not Found"
                                error: "WATCHLIST_ENTRY_NOT_FOUND"
                '500':
                    description: Internal server error
                    content:
                        application/problem+json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                            example:
                                status: 500
                                title: "Internal Server Error"
                                error: "INTERNAL_SERVER_ERROR"

        patch:
            summary: Update watchlist product settings
            description: |
                Updates settings for a specific watchlist product (e.g., toggle notifications).
                Returns the updated watchlist product data with core identifiers and settings.
                Requires valid Cognito JWT authentication.
            operationId: patchWatchlistProduct
            tags:
                - Watchlist
            parameters:
                - name: shopId
                  in: path
                  required: true
                  description: Unique identifier of the shop
                  schema:
                      type: string
                      format: uuid
                  example: "550e8400-e29b-41d4-a716-446655440000"
                - name: shopsProductId
                  in: path
                  required: true
[...]
